[tool.poetry]
name = "jax-geneweaver-core"
version = "0.0.4"
description = "The core of the Jax-Geneweaver Python library"
authors = ["Jax & Baylor Computational Sciences <cssc@jax.org>"]
readme = "README.md"
packages = [
    { include = "jax/geneweaver/core", from = "src" },
]

[tool.poetry.dependencies]
python = "^3.9"
pydantic = { extras = ["dotenv"], version = "^1.9.1" }

[tool.poetry.group.dev.dependencies]
pylint = "^2.15.4"
pytest = "^7.1.3"
pydocstyle = "^6.1.1"
requests = "^2.28.1"
pytest-cov = "^4.0.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
